---
import Layout from '../layouts/Layout.astro'
---

<Layout title="landing">
  <div class="w-screen flex flex-col items-center">
    <h1>Ya agendamos tu cita</h1>
    <p>Nos vemos pronto</p>
  </div>
</Layout>
